<section class="promise-card">
  <h2 class="promise-user">
    <a href="/{{promise.user}}.commits.to/">
      {{promise.user}}
    </a>
    <span style="opacity:.5">{{promise.id}}</span>
  </h2>
  <div class="promise-domain">{{__domain}}</div>
  {{> promise promise}}
</section>
