<section class="promise-card">
  <h2 class="promise-user">
    <a href="/{{user}}.commits.to/">
      {{user}}
    </a>
    <span style="float:right;opacity:.5">{{id}}</span>
  </h2>
  <span>{{domain}}</span>
  {{> promise}}
</section>
