<div class="create-promise">
  <form action="" method="post" accept-charset="UTF-8" class="edit-promise" id="edit_{{promise.id}}">
    <div class="form-group-wrapper">
      <label for="tini">Commitment made (tini)</label>
      {{> datepicker id='tini' value=promise.tini}}
    </div>

    <div class="form-group-wrapper">
      <label for="tdue">Commitment due (tdue)</label>
      {{> datepicker id='tdue' value=promise.tdue}}
    </div>

    <div class="form-group-wrapper">
      <label for="tfin">Commitment fulfilled (tfin)</label>
      {{> datepicker id='tfin' value=promise.tfin}}
    </div>
  </form>
</div>

