<header>
  <h1>
    <a href="/">
      {{__appDomain}}
    </a>
  </h1>
  <!-- soon this will go in teh footer -->
  <nav>
    <a class="button" target="_blank" href="https://glitch.com/edit/#!/iwill?path=README.md:77:0">spec</a>
    <a class="button" target="_blank" href="https://github.com/beeminder/iwill">github</a>
    <a class="button" target="_blank" href="http://blog.beeminder.com/will">blog post</a>
  </nav>
</header>