<h3 class="sub-heading">
  a.k.a. The I-Will System
</h3>
<p>
  This is a commitment logger. Create a commitment by constructing a URL like 
  "<b>alice.{{__domain}}/send_the_report</b>" and just by clicking on such a URL,
  a promise is logged here.
</p>