<header>
  <h1>
    The I-Will System
  </h1>
  <h2>
    a.k.a. "promises.to" a.k.a. "commits.to"
  </h2>
</header>

<main>

<p>
This is a commitment logger.
Create a commitment by constructing a URL like 
"<b>alice.promises.to/send_the_report</b>"
and just by clicking on such a URL, a promise is logged here.
We're working on the rest of the implementation, where you can mark promises
fulfilled and everyone can see statistics on your reliability.
</p>