<h2>
  a.k.a. The I-Will System
</h2>
<p>
  This is a commitment logger. Create a commitment by constructing a URL like 
  "<b>alice.{{domain}}/send_the_report</b>" and just by clicking on such a URL,
  a promise is logged here.
</p>