<section class="single-promise">
  <ul class="user-list">
    <li>
      <a href="/{{user}}.commits.to/">
        {{user}}
        <span> promises to</span>
      </a>
      <ul class="promises-list">
        {{> promise}}
      </ul>
    </li>
  </ul>
  {{#if existing}}
    <h5>This promise was already created by someone else...</h5>
  {{/if}}
</section>
