{
  "presets": [
    "@babel/env",
    "@babel/preset-react",
    "@babel/typescript"
  ],
  "plugins": [
    "@babel/proposal-class-properties",
    "babel-plugin-styled-components",
    [
      "module-resolver",
      {
        "alias": {
          "lib": "./lib",
          "server": "./server",
          "src": "./client/src"
        }
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    }
  }
}
