{
  "all": true,
  "exclude": [
    ".build",
    "client"
  ],
  "extension": [
    ".ts",
    ".js"
  ],
  "include": [
    "server",
    "services",
    "models",
    "lib"
  ],
  "sourceMap": false,
  "instrument": false,
  "require": [
    "babel-register-ts"
  ]
}
