<!DOCTYPE html>
<html>
  <head>
    <title>The I-Will System</title>

    <meta name="description" content="{{__appDomain}} | The I-Will System">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/picker.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.10.3/sweetalert2.min.css"/>
    <link id="favicon" rel="icon" href="/favicon.png" type="image/png">

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.10.3/sweetalert2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.min.js"></script>
    <script src="/js/promise.js"></script>
    <script src="/js/picker.js"></script>
  </head>

  <body>
    <header>
      <h1>
        <a href="//{{__appDomain}}">
          {{__appDomain}}
        </a>
      </h1>
      <nav>
        <a class="button" target="_blank" href="http://blog.beeminder.com/will">blog post</a>
        <a class="button" target="_blank" href="https://github.com/beeminder/iwill">github repo</a>
        <a class="button" target="_blank" href="https://github.com/beeminder/iwill/wiki">spec</a>
      </nav>
    </header>

    <main>
      {{{body}}}
    </main>

    <footer>
      <small>
        IWILL
        <span style="float:right">&copy; 2018</span>
      </small>
    </footer>
  </body>
</html>
