<!DOCTYPE html>
<html>
<head>
  <title>The I-Will System</title>
  <meta name="description" content="{{__appDomain}} | The I-Will System">
  <link id="favicon" 
        rel="icon" 
        href="https://glitch.com/edit/favicon-app.ico" 
        type="image/x-icon">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/main.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.min.js"></script>
</head>
<body>
  {{> header}}
  <main>
    {{{body}}}
  </main>
  {{> footer}}
</body>
</html>
