* {
  box-sizing: border-box;
}

body {
  font-family: helvetica, arial, sans-serif;
  padding: 0;
  margin: 0;
  background-color: $black;
}

h1, .bold {
  font-weight: bold;
}

h1, h2, h3, h4, h5, p {
  color: white;
}

a {
  color: $blue;
  text-decoration: none;
}

fieldset {
  border: 0;
  padding: 0;
}

input, select, textarea {
  background: none;
  border: 1px dotted $dark-blue;
  border-radius: $input-border-radius;
  box-sizing: border-box;
  color: $blue;
  display: block;
  font-size: 1.5em;
  padding: .5em;
  margin: .5rem 0 1.5rem;
  width: 100%;

  &[disabled][type=text] {
    border: 1px solid $dark-gray;
  }
}

select {
  height: 3.5rem;
  text-indent: .5rem;
}

.blue-border {
  border: 1px solid $blue;
  padding: 1rem;
}

.momentable {
  opacity: 0;
  transition: .25s opacity ease-in;

  &--visible {
    opacity: 1;
  }
}
