<div class="create-promise blue-border">
  <h1 class="promise-statement">
    <span>{{promise.user}}</span> {{verbifyDomain}}
    <span>{{promise.what}}</span>
    <span/>
  </h1>

  <div class="promise-picker-wrapper">
    <h1>by:</h1>
    {{> datepicker id='create' value=promise.tdue}}
  </div>

  {{#if showSubmitButton}}
    <a class="promise-button" href="/promises/create/{{promise.urtext}}">Commit</a>
  {{/if}}
</div>
