{{> intro header=domain}}
  
<p>
Read the 
<a href="https://glitch.com/edit/#!/iwill?path=README.md:77:0">the spec</a>
or the 
<a href="http://blog.beeminder.com/will">original blog post</a>.
</p>

<br>
<br>


<h2>Promises so far</h2>
<section id="promises-section"></section>

<!-- <p><a href="/reset">Reset</a> | <a href="/clear">Clear</a></p> -->

</main>


<script src="https://code.jquery.com/jquery-2.2.1.min.js"
        integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="/client.js"></script>