{{> card promise=promise user=user}}

<div class="card-footer" style="text-align:center">
  <a style="float:left" href="{{editPromisePath promise}}">
    Edit
  </a>

  <small>
    {{#if isNewPromise}}
      <b>This promise has just now been created because you clicked on the URL!</b>
    {{else}}
      This promise has been viewed {{promise.clix}} times.
    {{/if}}
  </small>

  <a style="float:right" target="_blank" href="{{calendarUrl promise}}">
    Add to GCal
  </a>
</div>
