{{> card promise=promise}}

<div class="card-footer">
  <small>This promise has been viewed {{promise.clix}} times.</small>
  
  <a style="float:right" target="_blank" href="{{calendarUrl promise}}">
    Add to Google Calendar
  </a>
</div>