<main>

<h2>Get in touch if you want to get in on our beta!</h2>

<p>
This is a commitment logger.
Create a commitment by constructing a URL like 
"<b>alice.promises.to/send_the_report</b>"
and just by clicking on such a URL, a promise is logged here.
We're working on the rest of the implementation, where you can mark promises
fulfilled and everyone can see statistics on your reliability.
</p>
  
<p>
Read the 
<a href="https://glitch.com/edit/#!/iwill?path=README.md:77:0">the spec</a>
or the 
<a href="http://blog.beeminder.com/will">original blog post</a>.
</p>

<br>
<br>

</main>
