<main>
  {{> intro}}
  <h2>Get in touch if you want to get in on our beta!</h2>
  <p>
    Read the 
    <a href="https://glitch.com/edit/#!/iwill?path=README.md:77:0">the spec</a>
    or the 
    <a href="http://blog.beeminder.com/will">original blog post</a>.
  </p>
</main>
