<main>
  {{> intro}}
  <h2>
    <p>
      Get in touch with us at <a href="mailto:hello@commits.to">hello@commits.to</a> if you want to
      join our beta!
    </p>
    <p>
      For more help, also consider joining our <a href="http://slack.commits.to">Slack channel</a>
      and checking the <a href="http://forum.beeminder.com/c/commitsto">Beeminder forum</a>.
    </p>
  </h2>
  <p>
    Read the 
    <a href="https://github.com/beeminder/iwill/wiki">the spec</a>
    or the 
    <a href="http://blog.beeminder.com/will">original blog post</a>.
  </p>
</main>
