<div class="user-promises-list blue-border">
  <a href="/{{user}}.{{__domain}}/">
    {{user}}
  </a>
  <ul class="promises-list">
    {{#each promises}}
      <li>{{> card}}</li>
    {{/each}}
  </ul>
</ul>