<ul class="user-list">
  <li>
    <a href="/{{user}}.{{__domain}}/">
      {{user}}
    </a>
    <ul class="promises-list">
      {{#each promises}}
        <li>{{> card}}</li>
      {{/each}}
    </ul>
  </li>
</ul>