* {
  box-sizing: border-box;
}

body {
  font-family: helvetica, arial, sans-serif;
  margin: 25px;
  background-color: $black;
}

h1, .bold {
  font-weight: bold;
}

h1, h2, h3, h4, h5, p {
  color: white;
}

a {
  color: $blue;
}

form {
  margin-bottom: 25px;
  padding: 15px;
  background-color: cyan;
  display: inline-block;
  width: 100%;
  max-width: 340px;
  border-radius: 3px;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}

button {
  font-size: 16px;
  border-radius: 3px;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;
  &:hover {
    background-color: yellow;
  }
  &:active {
    box-shadow: none;
  }  
}

header {
  a {
    text-decoration: none
  }
}


footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
  > a {
    color: #BBBBBB;
  }
}