* {
  box-sizing: border-box; }

body {
  font-family: helvetica, arial, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #313131; }

h1, .bold {
  font-weight: bold; }

h1, h2, h3, h4, h5, p {
  color: white; }

a {
  color: #2fa2fa;
  text-decoration: none; }

form {
  margin-bottom: 25px;
  padding: 15px;
  background-color: cyan;
  display: inline-block;
  width: 100%;
  max-width: 340px;
  border-radius: 3px; }

input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px; }

.blue-border {
  border: 1px solid #2fa2fa;
  padding: 1rem; }

.promise-card {
  background-color: #2fa2fa;
  border-radius: 0.25rem;
  border: 1px solid #7bc9ff;
  overflow: hidden;
  padding: 1rem;
  transition: background .25s ease-in-out; }
  .promise-card:hover {
    background-color: #126bbd; }
  .promise-card, .promise-card a, .promise-card span {
    color: white; }
  .promise-card span {
    font-weight: 300;
    font-size: 50%; }
  .promise-card h2 .dateinfo {
    float: right; }
    .promise-card h2 .dateinfo ul {
      margin: 0px; }
    .promise-card h2 .dateinfo li {
      list-style: none;
      font-size: 50%;
      text-align: right; }
  .promise-card.promise--status-green {
    background-color: #40af6d;
    border-color: #016d42; }
  .promise-card.promise--status-orange {
    background-color: #c39321;
    border-color: #735806; }
  .promise-card.promise--status-red {
    background-color: #9c2248;
    border-color: #9c1836; }
  .promise-card.promise--status-gray {
    background-color: #73706d;
    border-color: #454545; }

.promise-user {
  align-items: center;
  display: flex;
  margin: 0; }
  .promise-user > :first-child {
    display: block;
    margin-right: auto; }

.promise-domain {
  font-style: italic;
  font-size: 75%; }

.promise-text {
  margin-top: .25rem; }

.promise-bar {
  margin: calc(-1rem - 1px);
  margin-top: 2rem; }
  .promise-bar .promise-bar-link {
    background-color: #FEFEFE;
    color: #313131;
    display: block;
    font-size: .75rem;
    font-weight: bold;
    margin: -10px;
    opacity: .5;
    padding: .5rem;
    text-align: center;
    text-transform: uppercase; }
    .promise-bar .promise-bar-link:hover {
      opacity: .75; }
  .promise-bar .bar-button-action .promise-bar-link {
    opacity: .5; }

.create-promise {
  padding: 4rem 4rem 6rem;
  position: relative; }
  .create-promise .promise-statement {
    margin: 0;
    line-height: 3rem;
    font-weight: 300; }
    .create-promise .promise-statement span {
      font-weight: bold; }
      .create-promise .promise-statement span:last-of-type {
        display: block; }
  .create-promise .promise-button {
    color: #FEFEFE;
    background-color: #2fa2fa;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    display: block;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 1rem;
    text-align: center;
    transition: all .75s ease-in-out; }
    .create-promise .promise-button:hover {
      background-color: #2fa2fa;
      color: white; }
  .create-promise .promise-picker {
    align-items: center;
    display: flex;
    margin: 0 -1rem; }
    .create-promise .promise-picker > * {
      flex-grow: 1;
      flex-shrink: 1; }
    .create-promise .promise-picker .picker__holder {
      max-width: none; }
    .create-promise .promise-picker h1 {
      margin: 0 1rem; }
    .create-promise .promise-picker fieldset {
      flex-grow: 25;
      flex-shrink: 1;
      margin: 1em 0;
      border: 0;
      padding: 0;
      position: relative; }
      .create-promise .promise-picker fieldset + fieldset {
        margin-left: .5rem;
        flex-shrink: 5;
        flex-grow: 1; }
    .create-promise .promise-picker input {
      background: none;
      border: 1px dotted #126bbd;
      border-radius: 0.25rem;
      box-sizing: border-box;
      color: #2fa2fa;
      display: block;
      font-size: 2em;
      padding: .5em;
      margin: 0;
      width: 100%; }
    .create-promise .promise-picker a {
      color: #0089ec;
      text-decoration: none; }
      .create-promise .promise-picker a:hover {
        text-decoration: underline; }
    .create-promise .promise-picker .time-input {
      position: absolute;
      right: 1em;
      top: .8em;
      padding: 0;
      margin: 0;
      width: 0;
      height: 0;
      background: transparent;
      color: #2fa2fa;
      border: 0;
      border-left: .5em solid transparent;
      border-right: .5em solid transparent;
      border-top: 0.75em solid #2fa2fa;
      cursor: pointer; }
      .create-promise .promise-picker .time-input:focus {
        border-top-color: #0089ec; }
  .create-promise label {
    color: #FEFEFE;
    float: left; }

.promises-preview {
  display: flex;
  flex-wrap: wrap;
  margin: .5rem -.5rem 0; }
  .promises-preview .promise-card {
    flex-grow: 1;
    margin: .5rem; }

.user-promises-list h2 {
  background-color: #2fa2fa;
  margin: -1rem -1rem 1rem;
  padding: 1rem; }
  .user-promises-list h2 a {
    color: white; }

.user-promises-list .promise-text {
  margin: 0; }
  .user-promises-list .promise-text a {
    margin: -1rem;
    padding: 1rem; }

.user-promises-list .promise-user, .user-promises-list .promise-user a {
  display: none; }

.promises-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .promises-list > li {
    margin: .5rem;
    padding: 0; }

header {
  background-color: #242424;
  border-bottom: 1px ridge #424242;
  display: flex;
  align-items: center;
  padding: .5rem 2rem; }
  header h1 {
    margin: 0 auto 0 0; }
  header a.button {
    float: right;
    color: #FEFEFE;
    margin-left: .75rem;
    padding: .4rem 1rem;
    font-size: .75rem;
    border-radius: 3px;
    background-color: #454545;
    border: 1px solid #73706d;
    box-shadow: 2px 2px #313131;
    cursor: pointer; }
    header a.button:hover {
      background-color: #2fa2fa; }
    header a.button:active {
      box-shadow: none; }

footer {
  color: #FEFEFE;
  margin-top: 1rem;
  padding: 2rem;
  border-top: 1px solid #73706d; }
  footer > a {
    color: #BBBBBB; }

main {
  padding: 2rem; }

.sub-heading {
  margin-top: 0; }

section.single-promise {
  margin-top: 2rem; }
  section.single-promise h5 {
    text-align: right;
    font-weight: lighter;
    color: #999; }

.nicejob {
  text-decoration: line-through; }
