$black: #252525;
$blue: #2fa2fa;

@import 'base.scss';
@import 'promise.scss';

.promises-preview {
  display: flex;
  flex-wrap: wrap;
  margin: -.5rem;
  
  .promise-card {
    flex-grow: 1;
    margin: .5rem;
  }
}


section {
  &.single-promise {
    margin-top: 2rem;
    
    h5 {
      text-align: right;
      font-weight: lighter;
      color: #999;
    }
  }
}

.nicejob {
  text-decoration: line-through;
}

.user-list {
  padding: 0;
  
  li {
    position: relative;
    list-style-type: none;
    color: white;
    border: 1px solid $blue;
    padding: 1rem;
    margin-bottom: 1.5rem;
    
    a {
      text-transform: uppercase;
      text-decoration: none;
      
    }
  }
}

.users {
  li {
    position: relative;
    list-style-type: none;
    color: white;
    background: #ccc;
    padding: .5rem 1rem;
    font-weight: bold;
    &:hover {
      background: #ACACAC;
      transition: all .3s ease-out;
    }
  }
  > li > a {
    padding: .5rem .25rem;
    display: block;
    text-transform: uppercase;
  }
}
