/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */

* {
  box-sizing: border-box;
}

body {
  font-family: helvetica, arial, sans-serif;
  margin: 25px;
}

h1 {
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

p {
  max-width: 600px;
}

form {
  margin-bottom: 25px;
  padding: 15px;
  background-color: cyan;
  display: inline-block;
  width: 100%;
  max-width: 340px;
  border-radius: 3px;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}

button {
  font-size: 16px;
  border-radius: 3px;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;
}

button:hover {
  background-color: yellow;
}

button:active {
  box-shadow: none;
}

li {
  margin-bottom: 5px;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}

footer > a {
  color: #BBBBBB;
}

.nicejob {
  text-decoration: line-through;
}

.users li {
  position: relative;
  list-style-type: none;
}

.users li {
  color: white;
  background: #eee;
  padding: .5em 1em;
  font-weight: bold;
}

.users li:hover {
  background: #ACACAC;
  transition: all .3s ease-out;
}

.users > li > a {
  padding: .5em .25em;
  display: block;
  text-transform: uppercase;
}

ul.promises {
    counter-reset: users; /* Initiate a counter */
    list-style: none; /* Remove default numbering */
    padding: 0;
    margin-bottom: 2em;
}

ul ul {
    margin: 0 0 0 2em; /* Add some left margin for inner lists */
}

ul.promises li {
  padding: 0;
}

ul.promises a {
    cursor: pointer;
    position: relative;
    display: block;
    padding: .4em .4em .4em .8em;
    margin: .5em 0 .5em 2.5em;
    background: #fefefe;
    color: #444;
    text-decoration: none;
    transition: all .3s ease-out;
    /* text-transform: lowercase; */
}

ul.promises a:hover {
    background: #eee;
}   

ul.promises li a:before {
    content: counter(users);
    counter-increment:users;
    position: absolute; 
    left: -2.5em;
    top: 50%;
    margin-top: -1em;
    background: #fa8072;
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
}

ul.promises a:after {
    position: absolute; 
    content: '';
    border: .5em solid transparent;
    left: -1em;
    top: 50%;
    margin-top: -.5em;
    transition: all .3s ease-out;               
}

ul.promises a:hover:after {
    left: -.5em;
    border-left-color: #fa8072;             
}   
