$white: #FEFEFE;
$black: #242424;
$blue: #2fa2fa;
$blue-border: #7bc9ff;
$dark-blue: #126bbd;
$gray: #676767;
$dark-gray: #454545;

$header-bg: #1A1A1A;
$header-border: #323232;

@import 'base.scss';
@import 'promise.scss';

header {
  background-color: $header-bg;
  border-bottom: 1px ridge $header-border;
  display: flex;
  align-items: center;
  padding: .5rem 2rem;
  h1 {
    margin: 0 auto 0 0;
  }
  a {
    text-decoration: none;
    &.button {
      float: right;
      color: $white;
      margin-left: .75rem;
      padding: .45rem 1rem;
      font-size: .75rem;
      border-radius: 3px;
      background-color: $dark-blue;
      border: 1px solid $dark-blue;
      box-shadow: 2px 2px $dark-gray;
      cursor: pointer;
      &:hover {
        background-color: $blue;
      }
      &:active {
        box-shadow: none;
      }  
    }
  }
}

footer {
  color: $white;
  margin-top: 1rem;
  padding: 2rem;
  border-top: 1px solid $gray;
  > a {
    color: #BBBBBB;
  }
}

main {
  padding: 2rem;
  
  
}

.sub-heading {
  margin-top: 0;
}

section {
  &.single-promise {
    margin-top: 2rem;
    
    h5 {
      text-align: right;
      font-weight: lighter;
      color: #999;
    }
  }
}

.nicejob {
  text-decoration: line-through;
}


// .users {
//   li {
//     position: relative;
//     list-style-type: none;
//     color: white;
//     background: #ccc;
//     padding: .5rem 1rem;
//     font-weight: bold;
//     &:hover {
//       background: #ACACAC;
//       transition: all .3s ease-out;
//     }
//   }
//   > li > a {
//     padding: .5rem .25rem;
//     display: block;
//     text-transform: uppercase;
//   }
// }
