<main>
  {{> intro}}
  <h2>Get in touch if you want to get in on our beta!</h2>
  <p>
    Read the 
    <a href="https://github.com/beeminder/iwill/wiki">the spec</a>
    or the 
    <a href="http://blog.beeminder.com/will">original blog post</a>.
  </p>
</main>
