.create-promise {
  position: relative;
  padding: 2rem 2rem 7rem;

  .promise-statement {
    margin: 0 0 2rem;
    line-height: 3rem;
    font-weight: 300;

    span {
      font-weight: bold;

      &:last-of-type {
        display: block;
      }
    }
  }

  .promise-button {
    color: $white;
    cursor: pointer;
    background-color: $blue;
    position: absolute;
    bottom: 0;
    display: block;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 1rem;
    text-align: center;
    transition: all .25s ease-in-out;
    margin: 0;
    outline: 0;
    border: 0;
    border-radius: 0;
    width: 100%;
    left: 0;

    &:hover {
      background-color: darken($blue, 10%);
    }
  }

  .promise-picker {
    align-items: center;
    display: flex;
    margin: 0 0 1rem;

    > * {
      flex-grow: 1;
      flex-shrink: 1;
    }

    .picker__holder {
      max-width: none;
    }

    h1 {
      margin: 0 1rem;
    }

    fieldset {
      flex-grow: 25;
      flex-shrink: 1;
      border: 0;
      padding: 0;
      position: relative;

      // & + h1 {
      //   float: right;
      // }

      & + fieldset {
        margin-left: .5rem;
        flex-shrink: 5;
        flex-grow: 1;
      }
    }

    a {
      color: #0089ec;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }

    .text-input {
      &.invalid {
        border-color: $red;
        color: $red;
        &:focus {
          outline-color: $red-border;
        }
      }
    }

    .time-input {
      position: absolute;
      right: 1em;
      top: 1.1em;
      padding: 0;
      margin: 0;
      width: 0;
      height: 0;
      background: transparent;
      color: $blue;
      border: 0;
      border-left: .5em solid transparent;
      border-right: .5em solid transparent;
      border-top: .75em solid $blue;
      cursor: pointer;

      &:focus {
        border-top-color: #0089ec;
      }
    }
  }
  label {
    color: $white;
  }
  input {
    &:nth-last-of-type(2) {
      margin-bottom: 0;
    }
  }
}

@media (max-width: 640px) {
  .promise-picker {
    flex-direction: column;

    fieldset {
      width: 100%;
      margin-left: 0 !important;
    }
  }
}
