<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>

    <meta name="description" content="{{__appDomain}} | The I-Will System">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#313131">
  </head>
  <body>
    <noscript>
      You need to enable JavaScript to run this app.
    </noscript>

    <header>
      <h1>
        <a href="//www.commits.to">
          commits.to
        </a>
      </h1>
      <nav>
        <a class="button" target="_blank" href="http://blog.beeminder.com/will">blog post</a>
        <a class="button" target="_blank" href="https://github.com/beeminder/iwill">github repo</a>
        <a class="button" target="_blank" href="https://github.com/beeminder/iwill/wiki">spec</a>
      </nav>
    </header>

    <main>
      <div id="root"></div>
    </main>

    <footer>
      <small>
        Brought to you by the
        <a target="_blank" href="https://www.beeminder.com" title="Reminders with a sting">Beeminder</a>
        team and
        <a target="_blank" href="http://chrisbutler.me">Chris Butler</a>.
        <span style="float:right">&copy; 2017&ndash;2018</span>
      </small>
    </footer>
  </body>
</html>
