* {
  box-sizing: border-box;
}

body {
  font-family: helvetica, arial, sans-serif;
  padding: 0;
  margin: 0;
  background-color: $black;
}

h1, .bold {
  font-weight: bold;
}

h1, h2, h3, h4, h5, p {
  color: white;
}

a {
  color: $blue;
  text-decoration: none;
}

form {
  margin-bottom: 25px;
  padding: 15px;
  width: 100%;
  border-radius: 3px;
}

fieldset {
  border: 0;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}

.blue-border {
  border: 1px solid $blue;
  padding: 1rem;
}
