.promise {
  &-card {
    &.completed {
      background-color: #FFFFFF0d;
      border-color: $light-gray;
    }

    &.new {
      background-color: $white-gray;
      border-color: $light-gray;

      .promise-details a {
        color: $black;
      }
    }

    &.voided {
      background-color: transparent;
      border-color: $light-gray;

      .promise-bar-link {
        display: none;
      }
    }
  }
}
