.promise {
  &-card {
    background-color: $blue;
    border-radius: $card-border-radius;
    border: 1px solid $blue-border;
    overflow: hidden;
    padding: 1rem;
    transition: background .25s ease-in-out;

    &:hover {
      background-color: $dark-blue;
    }

    &, a, span {
      color: white;
    }

    span {
      font-weight: 300;
      font-size: 50%;
    }

    &.promise--status {
      &-green {
        background-color: $green;
        border-color: $green-border;
      }
      &-blue {
        // background-color: $blue;
      }
      &-orange {
        background-color: $orange;
        border-color: $orange-border;
      }
      &-red {
        background-color: $red;
        border-color: $red-border;
      }
      &-gray {
        background-color: $gray;
        border-color: $gray-border;
      }
    }
  }
  
  &-slug {
    font-size: .75rem;
    font-weight: 300;
    letter-spacing: 1px;
    opacity: .25;
  }

  &-user {
    background-color: $gray-blue;
    margin: -1rem -1rem 1rem;
    padding: 1rem;

    h2, a {
      margin: 0 0 .25rem;
    }

    .dateinfo {
      float: right;
      font-weight: 300;

      ul { margin: 0px; }
      li {
        list-style: none;
        font-size: 50%;
        text-align: right;
        word-break: break-all;
      }
    }
  }

  &-domain {
    font-style: italic;
    font-size: 75%;
  }

  &-text {
    margin-top: .25rem;
  }

  &-bar {
    margin: calc(-1rem - 1px);
    margin-top: 2rem;

    .promise-bar-link {
      background-color: $white;
      color: $black;
      display: block;
      font-size: .75rem;
      font-weight: bold;
      margin: -10px;
      opacity: .5;
      padding: .5rem;
      text-align: center;
      text-transform: uppercase;

      &:hover {
        opacity: .75;
      }
    }

    .bar-button-action {
      .promise-bar-link {
        opacity: .5;
      }
    }
  }
}