.promise {
  &-card {
    background-color: $blue;
    border-radius: $card-border-radius;
    border: 1px groove $blue-border;
    cursor: pointer;
    overflow: hidden;
    padding-bottom: 3rem;
    position: relative;
    transition: border .15s ease-out, opacity .3s ease-in-out;
    opacity: .95;

    &:hover {
      border-color: $white-gray;
      opacity: 1;
    }

    &, a {
      color: $white;
    }

    &.completed {
      background-color: transparent;
      border-color: $light-gray;
    }

    &.new {
      background-color: $white-gray;
      border-color: $light-gray;

      .promise-details a {
        color: $black;
      }
    }

    &.voided {
      background-color: transparent;
      border-color: $light-gray;

      .promise-bar-link {
        display: none;
      }
    }
  }

  &-credit {
    align-items: center;
    display: flex;
    height: 100%;
    right: 0;
    padding: .5rem 1rem .5rem .5rem;
    position: absolute;
    top: 0;
  }

  &-slug {
    font-size: .75rem;
    font-weight: 300;
    letter-spacing: 1px;
    opacity: .5;
    word-break: break-all;
  }

  &-header {
    background-color: $gray-blue;
    padding: 1rem;
    position: relative;

    + .promise-bar {
      margin-top: 0;
      opacity: .5;
    }
  }

  &-user {
    letter-spacing: 1px;
    margin: 0 0 .25rem;
    text-transform: capitalize;

    span {
      font-size: 65%;
      font-weight: normal;
      letter-spacing: .5px;
      opacity: .75;
    }
  }

  &-details {
    padding: 1rem;

    a {
      display: block;
    }

    small {
      opacity: .75;
    }
  }

  &-domain {
    font-style: italic;
    font-weight: 300;
    opacity: .5;
  }

  &-text {
    font-size: 1.1rem;
    margin-top: .25rem;
  }

  &-bar {
    font-size: .75rem;
    font-weight: normal;
    letter-spacing: .25px;
    margin-top: 1rem;
    opacity: .8;
    text-align: left;
    text-transform: uppercase;

    &-link, &-date {
      display: block;
      padding: .5rem 1rem;
    }

    &-date {
      align-items: center;
      display: flex;

      .relative-date {
        font-size: 85%;
        font-weight: 300;
        margin-left: auto;
        opacity: .7;
      }
    }

    &--bottom {
      background-color: $white;
      bottom: 0;
      left: 0;
      opacity: .25;
      position: absolute;
      text-align: right;
      width: 100%;

      &, a {
        color: $dark-gray;
      }
    }

    &--due {
      background-color: $black;
    }

    &--completed {
      color: $black;
      text-align: left;
    }
  }
}
