$white: #FEFEFE;
$white-gray: #CCCCCC;
$black: #313131;
$light-gray: #999999;
$gray: #73706d;
$dark-gray: #454545;

// TODO: colors

$green: #0ba75f;
$yellow: #c39321;
$orange: #ef653c;
$red: #bd3044;
$blue: #2fa2fa;

$green-border: #4bc393;
$yellow-border: #735806;
$orange-border: #d86549;
$red-border: #d25975;
$blue-border: #7bc9ff;
$gray-border: $dark-gray;

$dark-blue: #126bbd;
$gray-blue: #27292f;

$header-bg: #242424;
$header-border: #424242;
