$white: #FEFEFE;
$black: #313131;
$light-gray: #999999;
$gray: #73706d;
$dark-gray: #454545;

$green: #40af6d;
$orange: #c39321;
$red: #9c2248;
$blue: #2fa2fa;

$green-border: #016d42;
$orange-border: #735806;
$red-border: #9c1836;
$blue-border: #7bc9ff;
$gray-border: $dark-gray;

$dark-blue: #126bbd;
$gray-blue: #27292f;

$header-bg: #242424;
$header-border: #424242;
