.create-promise {
  text-align: center;
  padding: 4rem;
  
  .promise-statement {
    margin: 0 0 3rem;
    line-height: 3rem;
    font-weight: 300;
    
    span {
      font-weight: bold;
    }
  }
  
  .promise-button {
    border: 1px solid $blue;
    border-radius: .5rem;
    color: $blue;
    display: block;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 2rem;
    text-align: center;
    transition: all .75s ease-in-out;
    
    &:hover {
      background-color: $blue;
      color: white;
    }
  }
}

.promises-preview {
  display: flex;
  flex-wrap: wrap;
  margin: .5rem -.5rem 0;
  
  .promise-card {
    flex-grow: 1;
    margin: .5rem;
  }
}
