.user {
  &-promises-list {
    .promise-card {
      .promise-header {
        display: none;
      }
    }
  }

  &-header {
    align-items: center;
    display: flex;
    margin: -1rem -1rem 1rem;
    padding: 1rem;
    background-color: $blue;
  }

  &-name {
    color: $white;
    text-transform: capitalize;
  }

  &-reliability {
    font-weight: 300;
    margin-left: auto;

    span {
      display: block;
      font-size: 75%;
      letter-spacing: .1875em;
      opacity: .5;
      text-align: right;
    }
  }

}

.promises-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;

  > li {
    margin: .5rem;
    padding: 0;
    flex: 1 1 auto;
  }
}
