/* styles/main.scss compiles to public/main.css -- don't edit the latter! */

$card-border-radius: 0;
$input-border-radius: .25rem;
$element-border-radius: 3px;

@import 'colors';
@import 'base';
@import 'mixins';
@import 'layout';

@import 'card';
@import 'user';

@import 'home';
@import 'create';
@import 'show';

.promise--status {
  &-green {
    background-color: $green;
    border-color: $green-border;
  }
  &-blue {
    background-color: $blue;
  }
  &-orange {
    background-color: $orange;
    border-color: $orange-border;
  }
  &-red {
    background-color: $red;
    border-color: $red-border;
  }
  &-yellow {
    background-color: $yellow;
    border-color: $yellow-border;
  }
  &-gray {
    background-color: $gray;
    border-color: $gray-border;
  }
}

.reliability--status {
  &-green {
    color: $green;
  }
  &-blue {
    color: $blue;
  }
  &-yellow {
    color: $yellow;
  }
  &-orange {
    color: $orange;
  }
  &-red {
    color: $red;
  }
  &-gray {
    color: $gray;
  }
}

.credit--status {
  position: relative;

  &::before {
    @include gradient-shadow;
  }

  &-green {
    // background: linear-gradient(to left, $gray-blue -15%, $green);
    background: $green;
  }
  &-blue {
    // background: linear-gradient(to left, $gray-blue -15%, $blue);
    background: $blue;
  }
  &-yellow {
    // background: linear-gradient(to left, $gray-yellow -15%, $yellow);
    background: $yellow;
  }
  &-orange {
    // background: linear-gradient(to left, $gray-blue -15%, $orange);
    background: $orange;
  }
  &-red {
    // background: linear-gradient(to left, $gray-blue -15%, $red);
    background: $red;
  }
  &-gray {
    // background: linear-gradient(to left, $gray-blue -15%, $gray);
    background: $gray;
  }
}
