@import 'progress';

.auto-captcha {
  margin: 5%;
}
.progress-bar-wrapper {
  margin: 3rem 0;
}

.momentable {
  opacity: 0;
  transition: .25s opacity ease-in;

  &--visible {
    opacity: 1;
  }
}
