$card-border-radius: 0;
$input-border-radius: .25rem;
$element-border-radius: 3px;

@import 'colors';
@import 'base';
@import 'layout';

@import 'card';
@import 'user';

@import 'home';
@import 'create';

.promise--status {
  &-green {
    background-color: $green;
    border-color: $green-border;
  }
  &-blue {
    background-color: $blue;
  }
  &-orange {
    background-color: $orange;
    border-color: $orange-border;
  }
  &-red {
    background-color: $red;
    border-color: $red-border;
  }
  &-gray {
    background-color: $gray;
    border-color: $gray-border;
  }
}

.reliability--status {
  &-green {
    color: $green;
  }
  &-blue {
    color: $blue;
  }
  &-orange {
    color: $orange;
  }
  &-red {
    color: $red;
  }
  &-gray {
    color: $gray;
  }
}

.credit--status {
  &-green {
    background: linear-gradient(to right, $gray-blue -10%, $green);
  }
  &-blue {
    background: linear-gradient(to right, $gray-blue -10%, $blue);
  }
  &-orange {
    background: linear-gradient(to right, $gray-blue -10%, $orange);
  }
  &-red {
    background: linear-gradient(to right, $gray-blue -10%, $red);
  }
  &-gray {
    background: linear-gradient(to right, $gray-blue -10%, $gray);
  }
}
