.card-footer {
  color: $light-gray;
}

.card-footer, .edit-wrapper {
  margin-top: 2rem;
}

.delete-promise {
  margin-top: 2rem;
  &-button {
    font-size: 12px;

    &:hover {
      color: $red;
    }
  }
}
