.user-promises-list {
  .user-header {
    margin: -1rem -1rem 1rem;
    padding: 2rem;
    background-color: $blue;
    
    .user-name {
      color: $white;
      text-transform: capitalize;
    }
    
    .user-reliability {
      font-weight: 300;
      float: right; //FIXME flex?
    }
  }
  
  .promise-card {
    .promise-user {
      display: none;
    }
  }
}

.promises-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  
  > li {
    margin: .5rem;
    padding: 0;
    flex: 1 1 auto;
  }
}